<template lang="pug">
form.login
  .user
    md-field(:class="{'md-invalid': !credCorrect}")
      label username
      md-input(ref="focus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        @input.native="usr = $event.target.value" :value="usr" :disabled="!sockconnected"
        @keyup.enter="login")
  .password
    md-field(:class="{'md-invalid': !credCorrect}")
      label password
      md-input(autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        @input.native="pwd = $event.target.value" :value="pwd" type="password" :disabled="!sockconnected"
        @keyup.enter="login")
  .button
    md-button(:disabled="!$store.state.online" @click="login") login
    md-button(v-if="$store.state.crd && !$store.state.online" @click="$router.push('/studselect')") offline-login

</template>

<script>
export default {
  name: "login",
  data: () => ({
    usr: "",
    pwd: "",
    credCorrect: true,
    pwa: matchMedia("(display-mode: standalone)").matches,
    sockconnected: true,
  }),
  created() {
    const self = this
    if (self.$store.state.crd) {
      const { usr, pwd } = self.$store.state.crd
      self.usr = usr
      self.pwd = pwd

      if (self.$store.state.lastid && self.pwa) {
        // self.$emit("snack", "app mode")
        self.$router.replace(`/plan/${self.$store.state.lastid}`)
      } else {
        // self.$emit("snack", "logged in")
        self.$router.replace("/studselect")
      }

      self.socket.emit("verifyCreds", { usr, pwd }, e => {
        if (!e && self.$route.name !== "login") self.$router.replace("/")
      })
    }
  },
  mounted() {
    const self = this
    self.$refs.focus.$el.focus()
    self.socket.on("reconnect_error", () => (self.sockconnected = false))
    self.socket.on("reconnect", () => (self.sockconnected = true))
  },
  beforeDestroy() {
    this.socket.off("reconnect_error")
    this.socket.off("reconnect")
  },
  methods: {
    login() {
      const self = this
      const { usr, pwd } = self
      self.socket.emit("verifyCreds", { usr, pwd }, e => {
        if (e) {
          self.credCorrect = true
          self.$store.commit("store", {
            change: "crd",
            value: { usr, pwd },
          })
          self.$router.push("/studselect")
        } else self.credCorrect = false
      })
    },
  },
}
</script>

<style lang="stylus">
.login
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100%
</style>
