<template lang="pug">
.plan(v-if="plan && !plan.error")
  .info
    h2 <i>{{plan.name}}</i>
    .week
      i.material-icons(@click="week('prev')") arrow_back_ios
      h4 {{plan.date}}
      i.material-icons(@click="week('next')") arrow_forward_ios
  .table
    table(v-html="plan.table")
  .refresh
    h5(@click="getPlan") abgerufen um {{new Date(plan.time).toLocaleTimeString()}} (tippe zum aktualisieren)
.plan.error(v-else-if="plan.error")
  md-empty-state(md-icon="error_outline"
    :md-label="`error: ${plan.statusCode === 404 ? 'nicht gefunden' : plan.statusCode}`")
    md-button.md-raised.md-accent(@click="$router.replace(`/studselect`); getPlan()") zurück
</template>

<script>
export default {
  name: "plan",
  data: () => ({
    plan: false,
  }),
  created() {
    this.getPlan()
    this.$store.commit("store", {
      change: "lastid",
      value: this.$route.params.id,
    })
    if (Number(this.$route.params.week) === 0)
      this.$router.replace({
        name: "plan",
        params: {
          id: this.$route.params.id,
          week: undefined,
        },
      })
  },
  mounted() {
    const self = this
    window.onkeydown = event => {
      if (event.keyCode === 8) self.$router.push("/studselect")
      else if (event.keyCode === 39) self.week("next")
      else if (event.keyCode === 37) self.week("prev")
    }
    const cp = self.$store.state.cached_plans
    if (cp[Object.keys(cp)[0]].name)
      self.$store.commit("store", { change: "cached_plans", value: {} })
    else
      for (const stud in cp) {
        if (cp.hasOwnProperty(stud))
          Object.keys(cp[stud]).forEach(week => {
            if (Number(week) < Number(new Date().getWeek())) {
              delete cp[stud][week]
              self.$store.commit("store", { change: "cached_plans", value: cp })
            }
          })
      }
  },
  beforeDestroy() {
    window.onkeydown = null
  },
  methods: {
    week(direction) {
      const self = this
      let week =
        (Number(self.$route.params.week) || 0) + (direction === "next" ? 1 : -1)
      if (week === 0) week = undefined
      self.$router.replace(
        {
          name: "plan",
          params: {
            id: self.$route.params.id,
            week,
          },
        },
        self.getPlan
      )
    },
    getPlan() {
      const self = this
      if (!self.$store.state.crd) return self.$router.push("/")
      const { usr, pwd } = self.$store.state.crd,
        id = self.$route.params.id,
        weekOffset = Number(self.$route.params.week) || 0
      let week = Number(new Date().getWeek()) + weekOffset
      let weekday = new Date().getDay()
      if (weekday === 6 || weekday === 0) week++
      if (String(week).length < 2) week = "0" + week
      const setplan = plan => {
        self.plan = plan
        if (plan.statusCode === 401) {
          self.$store.commit("store", {
            change: "crd",
            value: false,
          })
          return self.$router.push("/login")
        }
        self.raven.setUserContext({
          name: plan.name,
        })
        if (plan.statusCode) return
        if (plan.name === "Rahozhnikov Vladysla") plan.name = "valdi stinker"
        else if (plan.name === "Gebauer Nico") plan.name = "cockwurzt"
        else if (plan.name === "Weiß Lilith Mia Pold") plan.name = "lil ith mia podolski"
        const cp = self.$store.state.cached_plans
        if (!cp[id]) cp[id] = {}
        cp[id][week] = plan
        self.$store.commit("store", { change: "cached_plans", value: cp })
      }

      const cp = self.$store.state.cached_plans
      if (cp[id] && cp[id][week] && Object.keys(cp[id][week]).length > 0)
        setplan(cp[id][week])

      self.socket.emit(
        "getPlan",
        {
          usr,
          pwd,
          id,
          week,
        },
        setplan
      )
    },
  },
}
</script>

<style lang="stylus">
.plan
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &.error
    height: 100%

    > h2
      opacity: 0.25

    > img
      border-radius: 5px
      opacity: 0.5

  > .info
    display: flex
    justify-content: center
    align-items: center
    margin: 0 0 15px
    flex-direction: column

    > h2
      margin: 5px 0
      font-weight: 700

    > .week
      display: flex
      align-items: center

      > h4
        font-size: 0.9em
        font-weight: 500

      > i.material-icons
        font-size: 1.5em
        padding: 0.5em
        cursor: pointer

  > .table
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    @media only screen and (min-width: 1000px)
      width: 75%

    > table
      border-spacing: 5px
      border-width: 0
      border-color: rgb(70, 70, 70)
      line-height: calc(1.5vw + 1.5vh)
      letter-spacing: -0.5px
      max-width: 100%
      width: 100%
      overflow: hidden

      font
        font-size: 1em
        line-height: calc(0.5vw + 1vh)
        color: rgba(255, 255, 255, 0.75)
        margin: 0 1px

        @media only screen and (max-width: 420px)
          font-size: 0.85em

        @media only screen and (max-width: 360px)
          font-size: 0.75em

        @media only screen and (max-width: 320px)
          font-size: 0.65em

        @media only screen and (min-width: 1000px)
          font-size: 1.25em

        &.changed
          color: #e75151

      tr
        height: 1em

      td
        background: transparent
        padding: 0

      td[colspan="12"][rowspan="4"], td[colspan="12"][rowspan="2"]
        background: rgba(0, 0, 0, 0.06125)
        border-radius: 5px
        box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.0625)

      > tbody > tr > td:nth-of-type(1)
        display: none

  > .refresh
    display: flex
    justify-content: center
    align-items: center

    > h5
      margin: 15px 0
      font-weight: 400
</style>
