<template lang="pug">
.studselect
  transition-group.results(tag="div" name="list" :class="{offline: !$store.state.online}")
    .result(v-for="(stud, k) in found" v-if="surname.length > 0 && k < 5" :key="stud.item.name"
      @click="student(stud.item.id)" :class="{cached: $store.state.cached_plans[stud.item.id]}")
      h4 {{stud.item.name}}
  .input
    md-field
      label nachname
      md-input(ref="focus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
        @input.native="surname = $event.target.value; search()" :value="surname" @keyup.enter="student(found[0].item.id)")
    md-button(v-if="last" @click="student(last.id)") {{last.name}}
</template>

<script>
const Fuse = require("fuse.js")
export default {
  name: "studselect",
  data: () => ({
    last: false,
    studlist: false,
    surname: "",
    searcher: false,
    found: [],
  }),
  created() {
    const self = this
    if (!self.$store.state.crd) return self.$router.push("/")

    const initsearch = data => {
      self.$store.commit("store", { change: "students", value: data })
      const searchArr = []
      Object.keys(data).forEach(id => {
        searchArr.push({
          name: data[id].fullName,
          id: Number(id),
        })
      })
      self.searcher = new Fuse(searchArr, {
        shouldSort: true,
        includeScore: true,
        threshold: 0.25,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 2,
        keys: ["name"],
      })
    }

    const { usr, pwd } = self.$store.state.crd
    const students = self.$store.state.students
    if (Object.keys(students).length > 0) initsearch(students)
    self.socket.emit("getStudents", { usr, pwd }, initsearch)

    const s = self.$store.state
    if (s.lastid && s.cached_plans[s.lastid])
      self.last = {
        id: s.lastid,
        name:
          s.cached_plans[s.lastid][Object.keys(s.cached_plans[s.lastid])[0]]
            .name,
      }
  },
  mounted() {
    this.$refs.focus.$el.focus()
  },
  methods: {
    search() {
      this.found = this.searcher.search(this.surname)
    },
    student(index) {
      if (
        this.$store.state.online ||
        (this.$store.state.cached_plans[index] &&
          Object.keys(this.$store.state.cached_plans[index]).length > 0)
      )
        this.$router.push(`/plan/${index}`)
    },
  },
}
</script>

<style lang="stylus">
.studselect
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100%

  > .input
    position: relative

    > button
      position: absolute
      top: 100%
      left: 50%
      transform: translateX(-50%)
      margin: 0
      color: rgba(255, 255, 255, 0.25)

  > .results
    width: 100%

    > .result
      display: flex
      justify-content: center
      align-items: center
      margin: 15px 0
      height: 20px
      opacity: 1

      > h4
        color: #fff
        transition: 0.3s

      &.list-enter-active, &.list-leave-active
        transition: 0.3s

      &.list-leave-to, &.list-enter
        height: 0
        margin: 0
        opacity: 0

    &.offline
      > .result:not(.cached)
        > h4
          color: rgba(255, 255, 255, 0.25)
</style>
