@font-face
  font-family: "Material Icons"
  font-style: normal
  font-weight: 400
  src: url("./MaterialIcons-Regular.woff2") format("woff2")

.material-icons, i.m
  font-family: "Material Icons"
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: "liga"
  -webkit-font-smoothing: antialiased

  &.m18
    font-size: 18px

  &.m24
    font-size: 24px

  &.m36
    font-size: 36px

  &.m48
    font-size: 48px

  &.dark
    color: rgba(0, 0, 0, 0.54)

    &.inactive
      color: rgba(0, 0, 0, 0.26)

  &.light
    color: rgba(255, 255, 255, 1)

    &.inactive
      color: rgba(255, 255, 255, 0.3)

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 400
  src: local("Google Sans Italic"), local("GoogleSans-Italic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaErENHsxJlGDuGo1OIlL3L8pJULjtH.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 400
  src: local("Google Sans Italic"), local("GoogleSans-Italic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaErENHsxJlGDuGo1OIlL3L8pxULg.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 500
  src: local("Google Sans Medium Italic"), local("GoogleSans-MediumItalic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaZrENHsxJlGDuGo1OIlL3L-m93OwpmO24p.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 500
  src: local("Google Sans Medium Italic"), local("GoogleSans-MediumItalic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaZrENHsxJlGDuGo1OIlL3L-m93OwRmOw.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 700
  src: local("Google Sans Bold Italic"), local("GoogleSans-BoldItalic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaZrENHsxJlGDuGo1OIlL3L-idxOwpmO24p.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: italic
  font-weight: 700
  src: local("Google Sans Bold Italic"), local("GoogleSans-BoldItalic"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaZrENHsxJlGDuGo1OIlL3L-idxOwRmOw.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 400
  src: local("Google Sans Regular"), local("GoogleSans-Regular"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 400
  src: local("Google Sans Regular"), local("GoogleSans-Regular"), url("https://fonts.gstatic.com/s/googlesans/v11/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 500
  src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("https://fonts.gstatic.com/s/googlesans/v11/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 500
  src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("https://fonts.gstatic.com/s/googlesans/v11/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 700
  src: local("Google Sans Bold"), local("GoogleSans-Bold"), url("https://fonts.gstatic.com/s/googlesans/v11/4UabrENHsxJlGDuGo1OIlLV154t9CwZ-Pw.woff2") format("woff2")
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
  font-family: "Google Sans"
  font-style: normal
  font-weight: 700
  src: local("Google Sans Bold"), local("GoogleSans-Bold"), url("https://fonts.gstatic.com/s/googlesans/v11/4UabrENHsxJlGDuGo1OIlLV154tzCwY.woff2") format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
