@import "~vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: rgba(255, 255, 255, 0.25),
    accent: #21202a,
    theme: dark,
  )
);
@import "~vue-material/dist/theme/all";
