<template lang="pug">
main
  nav
    i.material-icons.back(@click="$router.push('/studselect')" v-if="$route.name === 'plan'") arrow_back
    h1 units²
    i.material-icons.opentg(@click="opentelegram") question_answer
  .content
    router-view(@snack="snack")
  md-snackbar(md-position="left" :md-duration="1500"
  :md-active.sync="showsnack" md-persistent)
    span {{snackbar}}
    md-button(@click="showsnack = false").md-accent ok
</template>

<script>
import throttle from "lodash/throttle"
export default {
  name: "units2",
  data: () => ({
    showsnack: false,
    snackbar: "",
  }),
  methods: {
    snack: throttle(function(t) {
      this.snackbar = t
      this.showsnack = true
    }, 2500),
    opentelegram: () => window.open("https://t.me/unitsass", "_blank"),
  },
  created() {
    window.vue = this
    const self = this
    if (localStorage.getItem("updated") === "yes") {
      localStorage.removeItem("updated")
      self.snack("updated")
    }
    document.body.onoffline = () =>
      self.$store.commit("store", { change: "online", value: false })
    document.body.ononline = () =>
      self.$store.commit("store", { change: "online", value: true })
  },
}
</script>

<style lang="stylus">
h1, h2, h3, h4, h5, h6, p, span
  margin: 0
  user-select: none

body, html
  margin: 0
  height: 100%
  width: 100%
  top: 0
  position: absolute
  font-family: "Google Sans", "Montserrat", sans-serif !important
  user-select: none

main
  height: 100%
  background: linear-gradient(-45deg, #202020 0%, #090909 100%)
  overflow: hidden

  > nav
    font-size: 1.5em
    height: 64px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    // box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.25)
    // box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25)

    > h1
      font-weight: 500

    > .back, > .opentg
      position: absolute
      top: 0
      left: 0
      height: 64px
      width: 64px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer

      &.opentg
        left: unset
        right: 0
        opacity: 0.25

  > .content
    height: calc(100% - 64px)
    overflow: auto
    padding-top: 15px

    &::-webkit-scrollbar
      width: 0px
</style>
